
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <h1 style="color: blueviolet" th:text="${helloKey}"></h1>

    <h2 th:text="#{welcome}"></h2>

    <a href="" th:href="@{/add}">get to add page</a>

    <div th:object="${todo}">
        <span th:text="'id : ' + *{id}">...</span>
        <span th:text="'task : ' + *{task}">...</span>
        <span th:text="'status : ' + *{status}">...</span>
    </div>
</body>
</html>