<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}"
      th:xmllang="${#locale.language}">
<head>
    <meta http-equiv="content-type" content="text/html charset=utf-8">
    <title>Hello</title>
</head>
<body>
<h1 style="color: blueviolet" th:text="${helloKey}"></h1>

<h2 th:text="#{welcome}"></h2>

<a href="" th:href="@{/add}">get to add page</a>

<div th:object="${todo}">
    <span th:text="'id : ' + *{id}">...</span>
    <span th:text="'task : ' + *{task}">...</span>
    <span th:text="'status : ' + *{status}">...</span>
</div>

<hr/>

<div>
    <p th:if="${gender} == 'male'">我是男生</p>
    <p th:if="${gender} == 'female'">我是女生</p>
</div>

<hr/>

<ul th:each="i:${list}">
    <li th:text="${i}">
    </li>
</ul>

<hr>

<form action="#" th:action="@{/add}" th:object="${todo}" method="post">
    <label>
        <input type="text" th:field="*{id}"/>
    </label>
    <label>
        <input type="text" th:field="*{task}"/>
    </label>
    <label>
        <input type="text" th:field="*{status}"/>
    </label>
    <input type="submit"/>
</form>

</body>
</html>